body{
    font-family: 'Open Sans', sans-serif;
}


.profile-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 66px;
    color: #000000;
}
.profile-image{
    border-radius: 50%;
  
  
    border: 1px solid white;
    height: 200px;
    width: 200px;
    margin: auto;
    margin-bottom: 2rem;
}
.profile-image img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
}

.profile-detail{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #000000;
    width: 40%;
}
.profile-edit-btn{
    background: #11CDEF;
    border: 1px solid #11CDEF;
    box-shadow: 0px 4px 6px rgb(50 50 93 / 11%);
    border-radius: 6px;
    width: fit-content;
    padding: 0.8rem 3rem;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.35px;
    color: #FFFFFF;
    cursor: pointer;
}
.profile-card{
    margin-top: 3rem;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 96px rgb(136 152 170 / 15%);
    border-radius: 6px;
}

.profile-card .card-header{
    background: linear-gradient(174.8deg, rgba(214, 12, 247, 0.79152) 5.3%, rgba(6, 92, 221, 0.09792) 112%);
    border-radius: 8.6px 8.6px 0px 0px;
    padding: 1rem;
}
.header-account{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #000000;
}
.save-btn{
    background: #5E72E4;
    border: 1px solid #5E72E4;
    box-shadow: 0px 4px 6px rgb(50 50 93 / 11%);
    border-radius: 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    padding: 10px 15px;
    cursor: pointer;
}
.profile-card .card-title{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #8898AA;
}
.profile-card .card-body{
        padding: 2rem; 
    padding-top: 1rem;

}
.profile-card input{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgb(50 50 93 / 15%);
    border-radius: 6px;
    margin-top: 5px;
    padding: 10px;
}
.user-card{
    border: 0px !important;
    margin-top: 3rem;
}
.user-card .card-body{
    background: rgba(249, 241, 241, 0.71);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
    padding-bottom: 2rem;
}
.user-rating-value{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.44px;
    text-transform: uppercase;
    color: #000000;
}
.user-rating{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
.user-name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    margin-top: 2rem;
}
.user-address{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.user-college{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: 1rem;
}
.about-me{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #5E72E4;
    margin-top: 1rem;
    cursor: pointer;
}
.category{
    border: 1px solid rgba(114, 131, 161, 0.6);
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #455368;
    padding: 7px 15px;
    text-align: center;
}
.category.active{
    background: #E8F0FC;
}
.category-name{
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #455368;
}
.filter-section{
    background: #F8F9FA;
    border-radius: 8px;
    padding: 2rem;
}
.category-filter{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #455368;
}
.category-reset-filter{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #0073E6;
}
.filter-status{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #455368;
    margin-bottom: 10px;
}
.filter-section .category{
    border: 1px solid rgba(114, 131, 161, 0.6);
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #455368;
    padding: 7px 13px;
}
.filter-section .form-check-label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #455368;
}
.search-filter{
    background: #F1F3F6;
    border: 1px solid #F1F3F6;
    border-radius: 8px;
    width: 100%;
    padding: 8px;
    margin-bottom: 1rem;
}
.form-more-label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #0073E6 !important;
    margin-top: 7px;
}
.trending-btn{
    background: #F1F2F5;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 18%);
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #455368;
    padding: 10px 25px;
}
.trending-sort{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1C4980;
}
.trending-wrapper{
    gap: 10px;
    align-items: flex-end;
    background: #FFFFFF;
    border: 1px solid rgba(212, 28, 34, 0.3);
    box-shadow: 0px 2px 10px rgb(212 28 34 / 11%);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 1rem;
}
.trending-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #455368;
    margin-bottom: 5px;
}
.trending-sub{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #667795;
    margin-bottom: 3rem;
}
.trending-count{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #186EDF;
    margin-left: 5px;
}
.trending-success{
    background: #F3EAFB;
    border-radius: 5px;
    height: fit-content;
    padding: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-transform: capitalize;
    color: #8739D5;
}
.trending-error{
    background: #F1F2F5;
    border-radius: 5px;
    margin-left: 3px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;
    color: #586783;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}
.close-btn{
    background: #FDEBEA;
    border-radius: 5px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #CF292E;
    padding: 7px;
    margin-bottom: 10px;
}

.active-btn{
   
        background: #FDEBEA;
        border-radius: 5px;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: green;
        padding: 7px;
        margin-bottom: 10px;
 
}
a{
    text-decoration: none !important;
}
.trending-count{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #0073E6;
}
.trending-img img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}